/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
.flex{
    display: flex;
    
}
.relative{
    position: relative;
}
.fixed{
    position: fixed;
    z-index: 1;
}

.container{
    width: 80%;
    margin: 0 auto;
}


/* HEADER */
header{
    height: 50px;
    top:0;
    left:0;
    width: 100%;
    background-color:#ff6900; 
}

header .container{
    justify-content: space-between;
    align-items: center;
}

/* SEX */

header .sex{
    width:fit-content;
}
.sex ul{
    list-style: none;
}

.sex a{
    text-decoration: none;
    color: white;
    padding-right: .5rem;
}

/* LOGO */
header .logo{
    width: 80px;
}

/* SHOPPE */

header .shoppe{
    width:fit-content;
}
.shoppe ul{
    list-style: none;
}

.shoppe a{
    text-decoration: none;
    color: white;
    padding-right: .5rem;
    font-size: .8rem;
    line-height: 50px;
}




/*MAIN*/

main{
    margin-top: 50px;
}
.row-cards {
    flex-wrap: wrap;
    justify-content: space-between;
}
.row-cards .col-cards { 
    width: calc(95% / 3);
    margin-top: 20px ;
}

/* CHANGE-PHOTO */
.change-photo .img{
    width: 100%;   
}
.change-photo .img-hover{
    display: none;
}

.change-photo:hover .img{
    display: none;
}
.change-photo:hover .img-hover{
    width: 100%;
    display: inline-block;
}

/* ARTICLE */
.article .brand{
    font-size: .6rem;
}
.article ul{
    list-style: none;
}
.article li{
    display: inline;
    font-size: .6rem;
}
.article .discounted{
    color:red
}
.article .full-price{
    text-decoration:line-through;
}

/* DISCOUNT */
.discount{
    position: absolute;
    bottom: 20%;
    left: 0;
}
.discount div{
    display: inline-block;
    padding: .3em .8em;
    font-size: .6rem;
    color: white;
}
.discount .percentage{
    background-color: red;  /*dare var*/
}
.discount .sustainability{
    background-color: green;  /*dare var*/
}

/* FAVORITES */
.favorites{
    display: inline-block;
    background-color: white;
    position: absolute;
    top:2%;
    right: 0;
}
.heart{
    display: block;
    font-size: 2rem;
    padding: .5rem;
}
.favorites:hover .heart{
    color: red;
}